/* App.scss called from App.js */
@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/mixins";

.app {
  padding: $sectionVerticalPadding 0 $sectionVerticalPadding / 2;

  h2 {
    font-size: 28px;
  }

  h3 {
    color: $textColorLight;
    font-size: 14px;
    text-transform: uppercase;
  }

  .highlight {
    color: $tomato;
  }

  @include big-screen {
    padding: $sectionVerticalPadding * 2.5 0 $sectionVerticalPadding;
  }

  @include mobile {
    padding: $sectionVerticalPadding 0 $sectionVerticalPadding / 2;

    h1, h2 {
      text-align: center;
    }
  }
}
