/* TopNav.scss called from TopNav.js */
@import "../../styles/colors";
@import "../../styles/mixins";

nav.top-nav {
  border-bottom: 3px solid $tomato;
  line-height: 100px;

  .logo {
    display: inline-block;

    img {
      vertical-align: middle;
    }

    @include mobile {
      display: block;
      line-height: 60px;

      img {
        width: 160px;
        margin-top: 18px;
      }
    }
  }

  ul {
    padding: 0;
    float: right;
    margin: 0;

    li {
      display: inline-block;
      list-style: none;
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }
    }

    @include mobile {
      display: flex;
      justify-content: space-around;
      width: 100%;

      li {
        margin-right: 0;
      }
    }
  }

  @include big-screen {
    .container {
      max-width: $bigScreenWidth;
    }
  }

  @include mobile {
    line-height: 60px;
    text-align: center;
  }
}
