/* TomatoControl.scss called from TomatoControl.js */
@import "../../styles/colors";
@import "../../styles/mixins";

.tomato-control {
  background: url('/svg/tomato.svg') no-repeat top center;
  background-size: contain;
  color: $white;
  height: 400px;
  margin: 0 auto;
  max-width: 400px;
  padding-top: 59px;
  position: relative;
  width: 100%;

  .svg {
    margin: 0 auto;
    width: 320px;

    circle {
      stroke-dasharray: 945;
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 0.25s linear;
      stroke: $white;
      stroke-width: 0.25em;
    }

    .bar {
      stroke: $contrastColor;
      transform: rotate(-90deg);
      stroke-width: 0.45em;
    }
  }

  .timer {
    font-family: 'Dosis', sans-serif;
    font-size: 100px;
    font-weight: 800;
    position: absolute;
    top: 130px;
    width: 100%;
  }

  .control {
    position: absolute;
    top: 260px;
    width: 100%;

    button {
      background: transparent;
      border: none;
      vertical-align: middle;
    }
  }

  @include mobile {
    background: none;
    color: $tomato;
    height: auto;
    padding-top: 0;
    width: 100%;

    .svg {
      circle {
        stroke: $transparentGray;
      }

      .bar {
        stroke: $tomato;
      }
    }

    .timer {
      top: 70px;
    }

    .control {
      top: 200px;
    }
  }

  .play-button {
    .play--state {
      ellipse {
        fill: $white;
      }

      path {
        fill: $tomato;
      }

      @include mobile {
        ellipse {
          fill: $tomato;
        }

        path {
          fill: $white;
        }
      }
    }

    .pause--state {
      ellipse {
        fill: $white;
      }

      rect {
        fill: $tomato;
      }

      @include mobile {
        ellipse {
          fill: $tomato;
        }

        rect {
          fill: $white;
        }
      }
    }
  }

  .repeat-button {
    .circle {
      fill: transparent;
      stroke: $white;
      stroke-width: 2px;
    }

    .icon {
      fill: $white;
    }

    @include mobile {
      .icon {
        fill: $tomato;
      }

      .circle {
        stroke: $tomato;
      }
    }
  }
}
