@import "colors";

$sidebar-width: 80px;

html,
body,
#root,
.full-height {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 480px;
}

h1,
h2 {
  font-family: Dosis, sans-serif;
}

h1 {
  color: $dark;
  font-size: 46px;
}

h2 {
  font-size: 28px;
}

h3 {
  color: $gray;
  font-size: 16px;
  text-transform: uppercase;
}

.sidebar {
  display: inline-block;
  height: 100%;
  position: fixed;
  width: $sidebar-width;
}

.content {
  display: inline-block;
  padding-top: 2em;
  padding-left: $sidebar-width;
  width: calc(100% - #{$sidebar-width});
}

.tac {
  text-align: center;
}
