/* App.scss called from App.js */
@import "../../scss/colors";
@import "../../scss/variables";
@import "../../scss/mixins";

.app {
  .tomato.container {
    padding: $sectionVerticalPadding 0 $sectionVerticalPadding / 2;

    @include big-screen {
      padding: $sectionVerticalPadding * 2.5 0 $sectionVerticalPadding;
    }

    @include mobile {
      padding: $sectionVerticalPadding 0 $sectionVerticalPadding / 2;

      h1, h2 {
        text-align: center;
      }
    }
  }
}
