/* HowItWorks.scss called from HowItWorks.js */
@import "../../styles/colors";
@import "../../styles/variables";

section.how-it-works {
  padding: $sectionVerticalPadding 0 $sectionVerticalPadding * 2;
  font-size: 18px;

  .container {
    max-width: 800px;
  }

  p.muted {
    margin: $sectionVerticalPadding auto;
    text-align: left;
  }

  a {
    font-size: 20px;
  }
}
