@import '../../styles/colors';

.step-selector {
  button {
    color: $gray;
    border: none;
    display: block;
    font-size: 18px;
    text-transform: none;

    svg {
      margin-right: 1em;
      vertical-align: middle;

      #tomato--cap-top,
      #tomato--cap-base {
        fill: $white;
        stroke: #979797;
      }

      #tomato--body {
        fill: transparent;
        stroke: #979797;
      }
    }

    &:disabled {
      color: $dark;
      background: $contrast-color;

      #tomato--cap-top,
      #tomato--cap-base {
        fill: #00A155;
        stroke: transparent;
      }

      #tomato--body {
        fill: $tomato;
        stroke: transparent;
      }
    }

    //&:hover:not(:disabled) {
    //  background: $gray-light;
    //
    //  #tomato--cap-top,
    //  #tomato--cap-base {
    //    fill: $gray-light;
    //  }
    //}
  }
}
