/* _TimerSelector.scss called from TimerSelector.js */
@import "../../scss/colors";
@import "../../scss/variables";

.step-selector {
  button {
    background: none;
    border: none;
    color: $textColorLight;
    display: block;
    font-size: 18px;
    padding: $verticalSpacing;
    text-align: left;
    width: 280px;
    vertical-align: middle;

    &:disabled {
      color: $textColor;
      background: $contrastColorLight;

      #tomato--cap-top,
      #tomato--cap-base {
        fill: #00A155;
        stroke: transparent;
      }

      #tomato--body {
        fill: $tomato;
        stroke: transparent;
      }
    }

    &:hover:not(:disabled) {
      background: $grayLighter;

      #tomato--cap-top,
      #tomato--cap-base {
        fill: $grayLighter;
      }
    }

    svg, img {
      margin-right: $horizontalSpacing * 3;
      vertical-align: middle;
    }

    #tomato--cap-top,
    #tomato--cap-base {
      fill: $white;
      stroke: #979797;
    }

    #tomato--body {
      fill: transparent;
      stroke: #979797;
    }
  }
}
