/* _RangeSlider.scss called from RangeSlider.js */
@import "../../styles/colors";

.range-slider {
  $range-width: 100% !default;

  $range-handle-color: $mainColor !default;
  $range-handle-color-hover: lighten($mainColor, 20%) !default;
  $range-handle-size: 2.5em !default;

  $range-track-color: $transparentGray !default;
  $range-track-height: 1em !default;

  $rangeLabelBackground: $textInverseColor !default;
  $rangeLabelTextColor: $mainColor !default;
  $rangeLabelWidth: 3em !default;

  width: $range-width;

  .range {
    -webkit-appearance: none;
    width: $range-width;
    height: $range-track-height;
    border-radius: 5px;
    background: $range-track-color;
    outline: none;
    padding: 0;
    margin: 0;
    display: inline-block;

    &.with-label {
      width: calc(100% - (#{$rangeLabelWidth + 4em}));
    }

    // Range Handle
    &::-webkit-slider-thumb {
      appearance: none;
      width: $range-handle-size;
      height: $range-handle-size;
      border: none;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background .15s ease-in-out;

      &:hover {
        background: $range-handle-color-hover;
      }
    }

    &:active::-webkit-slider-thumb {
      background: $range-handle-color-hover;
    }

    &::-moz-range-thumb {
      width: $range-handle-size;
      height: $range-handle-size;
      border: 0;
      border-radius: 50%;
      background: $range-handle-color;
      cursor: pointer;
      transition: background .15s ease-in-out;

      &:hover {
        background: $range-handle-color-hover;
      }
    }

    &:active::-moz-range-thumb {
      background: $range-handle-color-hover;
    }
  }

  .value {
    display: inline-block;
    position: relative;
    width: $rangeLabelWidth;
    color: $rangeLabelBackground;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: $rangeLabelTextColor;
    padding: 5px 10px;
    margin-left: 8px;

    //&:after {
    //  position: absolute;
    //  top: 8px;
    //  left: -7px;
    //  width: 0;
    //  height: 0;
    //  border-top: 7px solid transparent;
    //  border-right: 7px solid $rangeLabelTextColor;
    //  border-bottom: 7px solid transparent;
    //  content: '';
    //}
  }
}
