@import "scss/grid";
@import "scss/colors";
@import "scss/variables";

body {
  color: $textColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

::selection {
  background: lighten($tomato, 30%);
}

hr {
  border: 1px solid $grayLight;
  max-width: 960px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 47px;
  margin-top: 16px;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
}

a {
  color: $tomato;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button:not(:disabled) {
  cursor: pointer;
}

button, a {
  transition: background .15s ease-in-out;
}

.text-center {
  text-align: center;
}

.muted {
  color: $textColorLight;
}

.long-spacing {
  margin-top: $verticalSpacing * 4;
}
