// Base
$textColor: #333;
$textInverseColor: #fff;
$backgroundColor: #fff;
$mainColor: #e74c3c;
$transparentGray: rgba(0, 0, 0, 0.1);

//
$white: #fff;
$tomato: #F95428;
$textColor: #172B4D;
$textColorLight: #979797;
$contrastColor: #FFE669;
$contrastColorLight: #FFFCED;

$grayLight: #C9C9C9;
$grayLighter: #F8F8F8;

$footer-background-color: #888888;
$footer-text-color: #fff;

// dark
//$backgroundColor: rgb(19, 19, 19);
//$mainColor: rgb(35, 35, 35);

// blue
//$mainColor: #2c3e50;

// emerald
//$mainColor: #2ecc71;

// sun flower
//$mainColor: #e67e22;

// components

// Dark ?
