/**
 * ==================
 * SIMPLE GRID SYSTEM
 *  Author: TonyMtz
 * ==================
 */

$verticalSpacing: 8px;
$horizontalSpacing: 4px;

/** device sizes **/
$mobileWidth: 960px;

/** USEFUL MIXINS **/
@mixin mobile {
  @media (max-width: #{$mobileWidth}) {
    @content
  }
}

/** GRID **/
.container {
  margin: 0 auto;
  max-width: 960px;
  min-width: 380px;
  width: 100%;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  &, & * {
    box-sizing: border-box;
  }

  [class*="col-"] {
    float: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .col-100 {
    width: 100%;
  }

  .col-60 {
    width: 60%;
  }

  .col-50 {
    width: 50%;
  }

  .col-40 {
    width: 40%;
  }

  .col-33 {
    width: 33.333333333%;
  }

  .col-25 {
    width: 25%;
  }

  @include mobile {
    padding-left: $horizontalSpacing * 4;
    padding-right: $horizontalSpacing * 4;

    .col-sm-100 {
      width: 100%;
    }

    .col-sm-50 {
      width: 50%;
    }

    [class^="col-"] {
      width: 100%;
    }
  }

  .hide-on-lg {
    display: initial;

    @include mobile {
      display: none;
    }
  }

  .hide-on-sm {
    display: none;

    @include mobile {
      display: initial;
    }
  }
}
